<h1>Admin Dashboard</h1>

<div class ="panel panel-default items">
  <table class ="table table-bordered">
    <thead>
      <th>Type of Item</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <tr>
        <td> Products: </td>
        <td> <%= @product_count %> </td>
      </tr>
      <tr>
        <td> Categories: </td>
        <td> <%= @categories_count.count %> </td>
      </tr>
      </tbody>
  </table>
</div>
